.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% auto; 
    padding: 1%;
    width: 80%;
}
.title{
    font-weight: bold;
}

.cardtext{
    color: grey;
    font-weight: bolder;
    font-size: 17px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: whitesmoke; 
    font-weight: bolder;
}