.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2% auto; 
    padding: 1%;
    width: 90%;
}
.title{
    font-weight: bold;
}

.cardtext{
    color: grey;
    font-weight: bolder;
    font-size: 17px;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    color: whitesmoke; 
    font-weight: bolder;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    
}

.button:hover{
    color: whitesmoke;
    opacity: 1;
    background-color: black;
    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}

.link{
    color: black; 
    text-decoration: none;
}
.link:hover{
    color: whitesmoke;
    opacity: 1;
    background-color: black;
    /* Firefox */
    -moz-transition: all 1s ease-in;
    /* WebKit */
    -webkit-transition: all 1s ease-in;
    /* Opera */
    -o-transition: all 1s ease-in;
    /* Standard */
    transition: all 1s ease-in;
}