@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Shade&family=Merriweather:ital@0;1&family=Space+Mono&family=Ubuntu+Mono&family=Work+Sans&display=swap');


.App {
    background: linear-gradient(0deg, rgb(53, 47, 47) 0%, rgb(82, 92, 102) 100%);
    font-family: 'Ubuntu Mono', monospace;
    font-size: larger;
    scroll-behavior: smooth;
}
